* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color:#F2F2F2;
    color: #ffffff;
    margin: 0px;

}


.container {
    margin:  20px auto;
    overflow: hidden;
    max-width:180px ;
    background-color: #8C8C8C;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.114), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.cont {
    background-color: #404040;

}


.wrap-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px;
}


.col {
    text-align: center;
    transition: all  0.5s ease;
    -webkit-transition: all  0.5s ease;
    -moz-transition: all  0.5s ease;
    -ms-transition: all  0.5s ease;
    -o-transition: all  0.5s ease;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.wrap-btn .col:hover{
    background-color: rgb(251, 133, 42);

}

.zero {
    grid-column: 1/3;
}

input{
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    border: none;
    background: none;
}

.console {
    text-align: end;
    margin: auto 12px;
    height: 50px; 
    line-height: 50px; /* Center text vertically */
    overflow: hidden; /* Hide overflow */
}
